{
  "ftp": {
    "server": "ftp://www.surecourt.com",
    "username": "ftpuser",
    "password": "REPLACE_WITH_FTP_PASSWORD",
    "folder": "si-deploy/si-c"
  },
  "install": {
    "targetRoot": "C:\\Tools\\SmartInspectConsole"
  }
}
